{% extends "base.html" %}
{% block title %}Participant {{ participant.id }}{% endblock %}
{% block content %}
    <div id="participant">
        <div>
            {% if participant %}
                {% if participant.prev_id != None %}<a href="/participants/{{ participant.prev_id }}">Previous</a>{% endif %}
                {{ participant.id }}: {{ participant.timestamp }}
                {% if participant.next_id != None %}<a href="/participants/{{ participant.next_id }}">Next</a>{% endif %}
            {% else %}
                No participant with that ID.
            {% endif %}
            <form action="/participants/{{ participant.id }}/" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Submit">
            </form>
        </div>
        <div>
            {% if answers %}
                <ul>
                    {% for answer in answers %}
                        <li>
                            Question {{ answer.question_id }}:
                            <i>
                                <a href="/questions/{{ answer.question_id }}/">{{ answer.question.text }}</a>
                            </i>
                            <a href="/answers/{{ answer.id }}/">{{ answer.answer_text|linebreaks }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No answers are available.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
